@charset "utf-8";

/* CSS Document */
* { margin: 0; padding: 0; outline: none; box-sizing: border-box; font-weight: normal; }
body { font-family: "Arial", "微软雅黑", "宋体" !important; color: #333; }
html { height: 100%; }
a { color: #333; text-decoration: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
a:hover { text-decoration: none; }
button, input, select, textarea { margin: 0; padding: 0; outline: none; border: 0; }
textarea, input { resize: none; outline: none; }
textarea { resize: none; -webkit-appearance: none; }
ul, ol, li { list-style: none; }
em, i, b { font-style: normal; font-weight: normal; }
img { outline-width: 0px; vertical-align: top; border: 0; }

/*宽度*/
.w-1220 { width: 1220px !important; }
.b-margin { margin: 0 auto 20px auto !important; }
.no-margin { margin: 0 auto !important; }
.margin_40 { margin: 40px auto 0 auto; }
.content3 { width: 1200px; margin: 0 auto 80px auto; padding-top: 62px; }
.w_976 { float: left; width: 976px !important; }

/*边框阴影*/
.one-border { border-bottom: 1px solid #ccc !important; }
.box-sha { border-radius: 6px; box-shadow: 0 1px 0 #fff, 0px 2px 0px 0px rgba(0, 0, 0, 0.1), 0 3px 0 #fff, 0px 4px 0px 0px rgba(0, 0, 0, 0.1); }
.no-sha { box-shadow: none !important; }
.border-sha { border-radius: 100%; border: 3px solid #ffffff; box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, .1); }
.no-back { background: none !important; }

/*分页*/
.pag { margin: 0 auto; border: 0; font-size: 14px; text-align: center; line-height: 28px; padding: 20px 0; }
.pag div { font-size: 14px; cursor: pointer; }
.pag .cur { background: #009bdf; color: #fff; }
.pag .page_no:hover { background: #009bdf; color: #fff; }
.pag .prev:hover { border: 1px solid #009bdf; background: #009bdf; color: #fff; }
.pag .next:hover { border: 1px solid #009bdf; background: #009bdf; color: #fff; }
.pag .page_no { display: inline-block; height: 30px; margin: 0px 7px 0px 0px; padding: 0px 10px; border: solid 1px #ECECEC; text-align: center; line-height: 30px; cursor: pointer; }
.pag .prev { display: inline-block; height: 30px; margin: 0px 7px 0px 0px; padding: 0px 12px; border: 1px solid #ECECEC; color: #666; line-height: 30px; }
.pag .next { display: inline-block; height: 30px; margin: 0px 7px 0px 0px; padding: 0px 12px; border: 1px solid #ECECEC; color: #666; line-height: 30px; }
.pag i { float: left; margin: 0 18px 0 8px; }

/*无数据*/
.no-data { clear: both; height: 460px; background: url(../images/nodata.png) center center no-repeat; }
.no-data_468 { clear: both; height: 310px; background: url(../images/nothing468.jpg) center center no-repeat; }
.no-data_386 { clear: both; height: 126px; background: url(../images/nothing386.jpg) center center no-repeat; }
.no-data_126 { clear: both; height: 126px; background: url(../images/nothing.jpg) center center no-repeat; }
.no-data_224 { clear: both; height: 224px; width:224px; background: url(../images/nothing224.jpg) center center no-repeat; }
.no-data_102 { clear: both; height: 102px; width:102px; background: url(../images/nothing102.jpg) center center no-repeat; }
.no-data_112 { clear: both; height: 63px; width:112px; background: url(../images/nothing.jpg) center center no-repeat; background-size:112px 63px;}
.no-data_63 { clear: both; height: 63px; width:63px; background: url(../images/nothing102.jpg) center center no-repeat; background-size:63px 63px;}

/*无评论数据*/
.no-comment { color: #ff0000; font-size: 14px; line-height: 36px; }

/*模块标题*/
.c_title { margin-bottom: 20px; padding-bottom: 8px; border-bottom: 1px solid #ddd; font-weight: normal; font-size: 20px; font-family: "微软雅黑"; }

/*模块标题中的导航栏*/
.course_ul { float: right; overflow: hidden; }
.course_ul li { float: left; padding: 0 8px; color: #ccc; }
.course_ul li.more1 { padding-right: 0; }
.course_ul li a { color: #999; font-size: 12px; font-family: "宋体"; }
.course_ul li:hover a { color: #009bdf; }

/*背景色*/
.background { background: #f1f2f3; }
.white_bg { background: #ffffff; }
.header { position: fixed; top: 0; z-index: 10000; width: 100%; background: #fff; }

/*头部*/
.h_logo { width: 1200px; height: 78px; margin: 0 auto; }
.h_logo .logo { float: left; margin-top: 16px; }
.h_logo .logo a { display: block; }
.h_logo img { display: block; float: left; height: 50px; }
.h_logo .logo p { float: right; margin: 10px 0 0 20px; color: #333; font-size: 22px; }
.head_right { float: right; margin-top: 23px; }

/*简易头部*/
.header2 { position: fixed; top: 0; z-index: 10000; width: 100%; min-width: 1200px; height: 60px; }
.header2 .h_logo { width: 100%; height: 60px; margin: 0 auto; background: #fff; }
.header2 .h_logo .logo { float: left; margin-top: 6px; margin-left: 20px; }
.header2 .h_logo .logo a { display: block; }
.header2 .h_logo img { display: block; float: left; height: 48px; line-height: 60px; }
.header2 .h_logo .logo p { float: right; margin: 9px 0 0 17px; color: #333; font-size: 22px; }
.header2 .h_logo .mini_nav { float: left; margin-left: 40px; margin-top: 22px; font-size: 14px; }
.header2 .mini_nav .hn_index i { float: left; width: 18px; height: 18px; margin-top: -2px; margin-right: 4px; background: url(../images/mini_nav1.png) no-repeat 0px 4px; }
.header2 .mini_nav .hn_index:hover i { background: url(../images/mini_nav1_hover.png) no-repeat 0px 4px; }
.header2 .mini_nav .hn_nav { display: inline-block; min-width: 70px; height: 40px; }
.header2 .mini_nav .hn_nav:hover > a { color: #009bde; }
.header2 .mini_nav .hn_nav:hover .panel { opacity: 1; filter: alpha(opacity=100); transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); }
.header2 .mini_nav .hn_index { display: inline-block; position: relative; margin-right: 30px; cursor: pointer; }
.header2 .mini_nav .hn_index:hover > a { color: #009bde; }
.header2 .mini_nav .hn_nav i { float: left; width: 18px; height: 18px; margin-top: -2px; margin-right: 4px; background: url(../images/mini_nav2.png) no-repeat 0px 6px; }
.header2 .mini_nav .hn_nav:hover i { background: url(../images/mini_nav2_hover.png) no-repeat 0px 6px; }
.header2 .mini_nav .panel { position: absolute; top: 60px; z-index: 999; opacity: 0; filter: alpha(opacity=0); width: 380px; padding: 20px 0; border: solid 1px #ebebeb; background: #fff; box-shadow: 0px 0px 10px rgba(0, 0, 0, .18); transform-origin: 28px top; -webkit-transform-origin: 28px top; -moz-transform-origin: 28px top; -o-transform-origin: 28px top; -ms-transform-origin: 28px top; -webkit-transform-origin: 28px top; -moz-transform-origin: 28px top; -o-transform-origin: 28px top; -ms-transform-origin: 28px top; transform: scale(0.01); -webkit-transform: scale(0.01); -moz-transform: scale(0.01); -o-transform: scale(0.01); -ms-transform: scale(0.01); transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -o-transition: all .3s ease; -ms-transition: all .3s ease; }
.header2 .panel em { position: absolute; top: -10px; left: 28px; width: 12px; height: 12px; background: url(../images/panel_aroow.png) no-repeat 0px 2px; }
.header2 .panel ul { position: relative; margin-left: 40px; }
.header2 .panel ul li { display: block; float: left; width: 110px; }
.header2 .panel ul li a { width: auto; line-height: 42px; }
.header2 .panel ul li a:hover { color: #009bde !important; }
.header2 .head_right { float: right; margin-top: 13px; }
.header2 .line { width: 100%; height: 3px; margin: 0 auto; background: url(../images/line.jpg) center no-repeat; box-shadow: 0 2px 8px rgba(0, 0, 0, .26); }
.search { float: left; width: 356px; height: 36px; }
.search .search_txt { float: left; width: 280px; height: 36px; border: 1px solid #ccc; border-right: none; border-radius: 3px 0 0 3px; color: #333; font-size: 12px; text-indent: 10px; }
.search span { display: block; width: 76px; height: 36px; float: right; background: #009bdf; border-radius: 0 3px 3px 0; border: 0; font-size: 14px; color: #FFF; cursor: pointer; position: relative; }
.search .search_btn { width: 76px; height: 36px; padding-left: 16px; border: 0; border-radius: 0 3px 3px 0; background: #009bdf; color: #FFF; font-family: "微软雅黑"; cursor: pointer; }
.search em { display: block; position: absolute; top: 10px; left: 10px; float: left; width: 20px; height: 20px; background: url(../images/icon1.png) 0 0 no-repeat; }
.h_logo .upload { display: block; position: relative; float: right; width: 78px; height: 36px; margin-left: 10px; border: 0; border-radius: 3px; background: #ff6600; color: #FFF; font-size: 14px; cursor: pointer; }
.h_logo .upload input { float: left; width: 78px; height: 36px; padding-left: 16px; border: 0; border-radius: 3px; background: #ff6600; color: #FFF; font-size: 14px; font-family: "微软雅黑"; cursor: pointer; }
.h_logo .upload i { display: block; position: absolute; top: 10px; left: 10px; float: left; width: 20px; height: 20px; background: url(../images/icon1.png) -43px 0px no-repeat; }
.h_logo .login { float: right; height: 36px; margin: 0px 26px 0 40px; color: #bbb; line-height: 36px; }
.h_logo .login2 { float: right; height: 36px; margin: 0px 0px 0 40px; color: #bbb; line-height: 36px; }
.h_logo .login a { color: #333; font-size: 12px; }
.h_logo .login2 a { color: #333; font-size: 12px; }
.h_logo .login2 a:hover { color: #009bdf; text-decoration: none; }
.h_logo .login a:hover { color: #009bdf; text-decoration: none; }
.line { width: 100%; height: 3px; margin: 0 auto; background: url(../images/line.jpg) center no-repeat; }

/*头部导航栏*/
.head { width: 100%; height: 50px; overflow: hidden; background: #FFF; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); }
.head_nav { width: 1300px; height: 30px; margin: 10px auto; text-align: center; line-height: 30px; }
.head_nav li { float: left; height: 30px; margin-right: 12px; border-radius: 15px; }
.head_nav li.current { background: #009bdf; }
.head_nav li:hover { background: #009bdf; }
.head_nav li.current a { color: #fff; }
.head_nav li:hover a { color: #fff; }
.head_nav li a { display: block; padding: 0 18px; color: #333; font-size: 14px; }
.content { clear: both; min-height: 533px; margin: 160px 0 80px 0; }
.content2 { clear: both; margin: 131px 0 80px 0; }

/*三级面包屑导航*/
.level3_nav { width: 1200px; margin: 20px auto; font-size: 12px; }
.level3_nav a i { display: inline-block; width: 14px; height: 12px; margin-right: 2px; background: url(../images/level3_index.png); }
.level3_nav a:hover { color: #009bdf; }
.level3_nav span { margin: 0 2px; color: #aaa; font-family: "宋体" }

/*课程列表*/
.manage-content { min-height: 370px; }
.course_list { width: 1220px; overflow: hidden; margin: 0 auto; }
.course_list li { float: left; margin: 0 20px 10px 0; width: 224px; }
.course_list li a img { width: 224px; height: 126px; }
.course_list li .title { overflow: hidden; height: 70px; }
.course_list li .title .p1 { display: block; margin: 12px 0 8px 0; color: #333; font-size: 14px; font-family: "宋体"; }
.course_list li .title .p1:hover { color: #009bdf; }
.course_list li .title .p2 { overflow: hidden; color: #999; font-size: 12px; }
.course_list li .title .p2 a { display: inline-block; color: #999; font-size: 12px; font-family: "宋体"; cursor: Default; }
.course_list li .title .p2 a:hover { }
.course_list li .title .p2 span { display: block; float: right; color: #999; font-size: 12px; font-family: "宋体"; }
.course_list li .title .p2 a i { display: block; float: left; width: 15px; height: 15px; margin: 1px 4px 0 0; background: url(../images/icon1.png) -90px -2px no-repeat; text-indent: 18px; }
.course_list li .title .p2 a i.time_ico { background: url(../images/icon1.png) -110px -2px no-repeat; }
.course_list li .title .p2 span em { display: block; float: left; width: 15px; height: 15px; margin-right: 4px; background: url(../images/icon1.png) -130px -2px no-repeat; text-indent: 18px; }

/*划过封面图片放大*/
.w_386 .course_pic { display: block; position: relative; width: 386px; height: 126px; -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); -moz-transform: rotate(0deg); }
.w_386 .course_pic img { display: block; width: 386px; height: 126px; -webkit-transition: all .3s ease-out; -moz-transition: all .5s ease-out; -ms-transition: all .5s ease-out; -o-transition: all .5s ease-out; }
.course_pic { overflow: hidden; display: block; position: relative; width: 224px; height: 126px; -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); -moz-transform: rotate(0deg); }
.course_pic img { display: block; width: 224px; height: 126px; -webkit-transition: all .3s ease-out; -moz-transition: all .5s ease-out; -ms-transition: all .5s ease-out; -o-transition: all .5s ease-out; }
.course_pic img:hover { transform: scale(1.1); }
.course_pic em { padding: 0 4px; height: 18px; line-height: 18px; text-align: center; font-size: 12px; color: #fff; border-radius: 4px; position: absolute; margin: 5px; z-index: 2; background: #ff6600; }
.course_list2 { width: 1220px; overflow: hidden; margin: 0 auto; }
.course_list2 li { float: left; margin: 0 20px 10px 0; width: 224px; }
.course_list2 li .title2 { height: 70px; overflow: hidden; }
.course_list2 li .title2 .p1 { display: block; float: left; margin: 12px 0 8px 0; color: #333; font-size: 14px; font-family: "宋体"; }
.course_list2 li .title2 .p1:hover { color: #009bdf; }
.course_list2 li .title2 .p2 { overflow: hidden; color: #999; font-size: 12px; }
.course_list2 li .title2 .p2 a { display: inline-block; color: #999; font-size: 12px; font-family: "宋体"; }
.course_list2 li .title2 .p2 a:hover { color: #009bdf; }
.course_list2 li .title2 .p2 span { display: block; float: right; margin-right: 10px; color: #999; font-size: 12px; font-family: "宋体"; }
.course_list2 li .title2 .t1 { overflow: hidden; }
.course_list2 li .title2 .t1 em { float: right; margin-top: 8px; color: #ff6600; font-size: 18px; font-family: "Georgia"; }
.course_list2 li .title2 .p2 a i { display: block; float: left; width: 15px; height: 15px; margin: 1px 2px 0 0; background: url(../images/icon1.png) -90px -3px no-repeat; text-indent: 18px; }
.course_list2 li .title2 .p2 span em { display: block; float: left; width: 15px; height: 15px; margin-right: 4px; background: url(../images/icon1.png) -130px -3px no-repeat; text-indent: 18px; }

/*pay*/
.vip_tag{ position:absolute;left:0px;top:0px;  width:51px; height:51px; background:url(../images/vip.png) no-repeat; z-index:10;}
.price_tag{ display: block; position: absolute; float: left; z-index: 1000; height: 18px; margin: 5px; padding: 0 6px; border-radius: 3px; color: #fff; font-size: 12px; line-height: 18px; text-align: center; background-color:#f80;}

/*名师列表*/
.border { width: 1240px; overflow: hidden; margin: 0 auto 30px auto; padding: 20px; background: #fff; box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1); }
.teacher_list { width: 1200px; overflow: hidden; }
.teacher_list li p a:hover { color: #009bdf; }
.teacher_list li { position: relative; float: left; margin: 0 20px 30px 0; }
.teacher_list li a .mask { position: absolute; opacity: 0; width: 224px; height: 224px; border-radius: 6px 6px 0 0; background: rgba(0, 0, 0, 0.75); cursor: default; transition: all .4s ease; }
.teacher_list li a:hover .mask { opacity: 1; filter: alpha(opacity=100); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2000000, endColorstr=#b2000000); }
.teacher_list li a strong { display: block; position: absolute; left: 72px; top: 108px; opacity: 0; filter: alpha(opacity=0); width: 80px; height: 30px; border-radius: 15px; border: 1px solid #ff6600; color: #ff6600; text-align: center; line-height: 30px; font-size: 12px; font-weight: normal; cursor: pointer; transition: all .4s ease; }
.teacher_list li a strong:hover { background: #ff6600; color: #fff; }
.teacher_list li:hover a strong { left: 72px; top: 94px; opacity: 1; filter: alpha(opacity=100); }
.teacher_list a img { display: block; width: 224px; height: 224px; border-radius: 6px 6px 0 0; }
.teacher_list .t_box { width: 224px; border: 1px solid #ddd; border-radius: 0 0px 6px 6px;}
.teacher_list .teacher { padding: 10px 0; border-bottom: 1px dotted #ccc; text-align: center; }
.teacher_list .teacher span { color: #999; font-size: 12px;  line-height:17px;}
.teacher_list .teacher span a { color: #333; font-size: 16px; }
.teacher_list .teacher span a:hover { color: #009bdf; }
.teacher_list .teacher p { margin: 7px 0; color: #999; font-size: 12px; line-height:17px;}
.teacher_list .teacher em { height: 24px; margin: 0 auto; padding: 5px 12px; border-radius: 12px; background: #009bdf; color: #fff; line-height: 24px; font-size: 12px; }
.teacher_list .count { }
.teacher_list .count span { display: inline-block; width: 108px; padding: 10px 0; color: #333; font-size: 12px; text-align: center; }
.teacher_list .count span b { display: block; margin-bottom: 3px; color: #009bdf; font-size: 24px; }
.teacher_list .count span i { display: block; margin-bottom: 3px; color: #ff6600; font-size: 24px; }

/*课程排名*/
.rank { float: right; width: 224px; }
.rank .f_video { display: none; height: 98px; background: #f4f4f4; }
.rank .f_video a { display: block; }
.rank .f_video .v_title { height: 98px; }
.rank .f_video .color { margin-bottom: 10px; color: #333; font-size: 12px; line-height: 20px; height: 20px; overflow: hidden; }
.rank .f_video .color em { display: block; width: 196px; height: 20px; overflow: hidden; margin-left: 28px; }
.rank .f_video .color:hover { color: #009bdf; }
.rank .f_video dl { height: 68px; }
.rank .f_video dd { float: left; }
.rank .f_video dd img { width: 112px; height: 63px; }
.rank .f_video dt { height: 68px; margin-left: 122px; }
.rank .f_video dt a { color: #666; font-size: 12px; }
.rank .f_video a:hover { color: #009bdf; }
.rank .f_video dt span { display: block; margin: 7px 0; color: #666; font-size: 12px; }
.rank .f_video dt p { font-size: 12px; color: #666; }
.rank .f_video dt p b { color: #FF6600; font-size: 12px !important; transform: scale(0.9); -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -o-transform: scale(0.9); -ms-transform: scale(0.9); }
.rank ul { max-height: 386px; overflow: hidden; }
.rank ul li { width: 224px; overflow: hidden; padding: 6px 0; }
.rank ul li:hover { background: #f4f4f4; }
.rank ul i { display: block; float: left; width: 20px; height: 20px; margin: 0 8px 0 0; background: #999; color: #fff; font-size: 12px; text-align: center; line-height: 20px; }
.rank ul .focus { width: 100%; padding-top: 0px; padding-bottom: 0px; }
.rank ul .focus .rank_title { display: none; }
.rank ul .focus .f_video { display: block; }
.rank ul i.top_three { background: #FF6600; }
.rank .rank_title p { height: 20px; color: #333; font-size: 12px; line-height: 20px; }
.rank .rank_title p:hover { color: #009bdf; }
.rank .rank_title p a { color: #333; }
.rank .rank_title p em { display: block; float: left; }
.rank .rank_title p b { float: right; color: #FF6600; font-size: 12px; transform: scale(0.9); -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -o-transform: scale(0.9); -ms-transform: scale(0.9); }
.rank li:hover p { color: #009bdf; }

/*老师排名*/
.rank strong { display: block; color: #666; font-size: 12px; font-weight: normal; }
.rank .f_video dt span em { color: #009bdf; font-size: 12px !important; transform: scale(0.9); -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -o-transform: scale(0.9); -ms-transform: scale(0.9); }
.rank .f_video dd img.t_photo { width: 63px; height: 63px; }
.rank .f_video dt.t_intro { margin-left: 73px; }
.rank .rank_title p span { float: right; color: #666; }
.rank .rank_title p span b { float: left; color: #009bdf; }
.rank .rank_title:hover p span { color: #666; }

/*尾部地址*/
.b_address { background: #f1f2f3; }
.address { width: 1240px; margin: 0 auto; padding: 40px 0; }
.address p { margin: 12px 0; color: #666; font-size: 12px; font-family: "宋体"; text-align: center; }

/*搜索课程、直播、优课、专辑*/

/*名师主页*/
.teach { width: 100%; margin: 0 auto 50px auto; background: url(../images/auto.png) 0 0 no-repeat; }
.blue { color: #009bdf; }
.cur { color: #009cdf; border-bottom: solid 2px #009cdf; }
.teach-page { height: 40px; margin: 0 0 20px 0; border-bottom: 1px solid #ddd; color: #666666; }
.manage-title li { float: left; margin: 0 30px 15px 0; padding-bottom: 11px; font-size: 20px; font-family: "微软雅黑"; cursor: pointer; }
.manage-title li:hover { color: #009cdf; }
.manage-title li span { font-size: 14px; }
.search-par { float: right; width: 236px; height: 30px; }
.search-par .search_txt { float: left; width: 206px; height: 30px; padding: 0 0 0 8px; border-radius: 3px 0 0 3px; border-right: none; border: 1px solid #ccc; color: #333; font-size: 12px; }
.search-par span { display: block; position: relative; float: right; width: 30px; height: 30px; border-radius: 0 3px 3px 0; background: #009bdf; color: #FFF; font-size: 14px; }
.search-par em { position: absolute; top: 8px; left: 8px; display: block; width: 20px; height: 20px; background: url(../images/icon1.png) 0 0 no-repeat; cursor: pointer; }
.tab { margin: 0 0 20px 0; font-size: 12px; }
.tab span i { margin: 0; color: #ff6600; }
.tab i { margin: 0 16px 0 0px; color: #ccc; }
.tab .tab-span { margin: 0 16px 0 0; cursor: pointer; }
.tab .tab-span:hover { color: #009bdf; }
.tab .tab-r { float: right; color: #999; }
.tab .yk-filter { float: right; }
.tab .yk-filter select { border: solid 1px #ddd; width: 70px; height: 26px; margin-top: -5px; color: #666; }
.c_title a { float: right; margin-right: 5px; margin-top: 10px; color: #999; font-size: 12px; font-family: "宋体"; }
.c_title a:hover { color: #009bdf; }
.auto { width: 1240px; height: 320px; margin: 0 auto; padding: 20px; }
.tea-auto { float: left; width: 1240px; }
.bd li { float: left; width: 100%; }
.bd .im-r { float: left; width: 150px; }
.bd .nei-970 { float: left; width: 970px; padding: 44px 0 0 30px; color: #fff; font-size: 12px; }
.bd .nei-970 a { color: #fff; }
.name h6 { float: left; margin: 0 20px 0 0px; font-size: 22px; line-height: 30px; }
.name h6 a { color: #fff; }
.name h6 a:hover { text-decoration: none; }
.name h5 { display: block; float: left; width: 100%; font-size: 14px; line-height: 36px; }
.name span { float: left; padding: 4px 14px; border-radius: 30px; background: #ff6600; font-size: 12px; line-height: 18px; }

/*学校*/
.b_pic { position: relative; float: left; margin-right: 20px; }
.b_pic img { display: block; width: 224px; height: 224px; }
.school_box { float: left; width: 976px; overflow: hidden; }
.s_news { float: right; width: 224px; }
.s_news h1 { margin-bottom: 15px; }
.rank-all { color: #717070; font-size: 12px; line-height: 22px; }
.rank-all i { display: block; float: left; width: 20px; height: 20px; margin: 0 8px 0 0; background: #999; color: #fff; text-align: center; line-height: 20px; }
.rank-all p { height: 20px; color: #333; font-size: 12px; line-height: 20px; }
.rank-all p b { float: right; color: #FF6600; font-size: 12px; transform: scale(0.9); -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -o-transform: scale(0.9); -ms-transform: scale(0.9); }
.rank-all .yellow { background: #ff6600; }

/*课程筛选*/
.classify { width: 1200px; margin: 0 auto; }
.classify h1 { padding-bottom: 16px; font-size: 20px; font-family: "微软雅黑"; }
.classify b { margin-left: 18px; color: #999; font-size: 12px; font-family: "宋体"; }
.classify b i { color: #ff6600; font-size: 12px; }
.c_b { clear: both; margin-bottom: 10px; padding-bottom: 3px; background: #ebebeb; }
.all { overflow: hidden; padding: 8px 20px 8px 20px; border: 1px solid #ddd; background: #fff; }
.all dl { margin: 10px 0; }
.all dt { float: left; width: 40px; margin-top: 3px; margin-right: 15px; color: #999; font-size: 12px; font-family: "宋体"; }
.all dd { overflow: hidden; }
.all dd span { float: left; margin: 0 10px 8px 0; border-radius: 10px; }
.all dd span:hover { background: #009bdf; }
.all dd span a:hover { color: #fff; }
.all dd span a { display: block; height: 20px; padding: 0 8px; color: #666; font-size: 12px; font-family: "宋体"; line-height: 20px; }
.all dd ul { display: none; float: left; width: 100%; overflow: hidden; margin-top: 3px; padding-left: 5px; border: 1px solid #ddd; background: #f7f7f7; }
.all dd ul.focus { display: block; }
.all dd ul li { float: left; margin: 0 7px; }
.all dd ul li a { height: 32px; color: #666; font-size: 12px; line-height: 32px; }
.all dd span.current { background: #009bdf; }
.all dd span.current a { color: #fff; }
.all dd ul li a { color: #666; }
.all dd ul li.active a { color: #009bdf; }
.classify .search { width: 234px; margin: 7px 0 0 0; }
.classify .search span { width: 30px; height: 30px; }
.classify .search_txt { width: 204px; height: 30px; }
.classify .search_btn { width: 30px; height: 30px; }
.classify .search em { display: block; position: absolute; top: 7px; left: 8px; width: 20px; height: 20px; background: url(../images/icon1.png) 0 0 no-repeat; }

/*直播频道*/
.l_live { overflow: hidden; margin-right: -20px; }
.l_live li { float: left; width: 224px; margin: 0 20px 20px 0; }
.w_386 li { float: left; width: 386px; margin: 0 20px 20px 0; position: relative; }
.w_590 li { float: left; width: 590px; overflow: hidden; margin: 0 20px 20px 0; border: 1px solid #dddddd; border-radius: 8px; box-shadow: 0px 2px 0px 0px #efefef; }
.w_590 .h_160 { width: 589px; height: 148px; overflow: hidden; border-top-left-radius: 8px; border-top-right-radius: 8px; }
.w_590 .h_160 img { z-index: 999; width: 589px; height: 148px; border-top-left-radius: 8px; border-top-right-radius: 8px; }
.l_live li .title a:hover { color: #009bdf; }
.l_live .title { height: 60px; overflow: hidden; }
.w_590 .title { text-indent: 10px; }
.l_live .title a { display: block; margin: 12px 0 6px 0; color: #333; font-size: 14px; font-family: "宋体"; }
.l_live .title span { display: block; height: 16px; color: #999; font-size: 12px; font-family: "宋体"; line-height: 16px; }
.l_live li i { display: block; position: absolute; z-index: 1000; height: 18px; right: 14px; top: 140px; padding: 0 4px; border-radius: 4px; color: #fff; font-size: 12px; line-height: 18px; text-align: center; }
.l_live button { display: block; position: relative; right: 20px; bottom: 45px; float: right; z-index: 1000; padding: 4px 13px; border-radius: 14px; color: #fff; line-height: 18px; font-size: 12px; text-align: center; cursor: pointer; }
.orange { background: #ff6600; }
.green { background: #39cc73; }
.blove { background: #009bdf; }
.yellow { background: #ffce43; }
.gray { background: #999; }

/*热门专辑*/
.album_list { width: 1220px; overflow: hidden; margin: 0 auto; }
.album_list li { float: left; width: 224px; margin: 0 20px 10px 0; }
.album_list li .course_pic { box-shadow: 1px 1px 0 #fff, 2px 2px 0px 0px rgba(0, 0, 0, 0.2), 3px 3px 0 #fff, 4px 4px 0px 0px rgba(0, 0, 0, 0.2); }
.album_list li .album_title { height: 70px; overflow: hidden; }
.album_list li .album_title .p1 { display: block; margin: 12px 0 8px 0; color: #333; font-size: 14px; font-family: "宋体"; }
.album_list li .album_title .p1:hover { color: #009bdf; }
.album_list li .album_title .p2 { overflow: hidden; color: #999; font-size: 12px; }
.album_list li .album_title .p2 a { display: inline-block; color: #999; font-size: 12px; font-family: "宋体"; }
.album_list li .album_title .p2 a:hover { color: #009bdf; }
.album_list li .album_title .p2 span { display: block; float: right; color: #999; font-size: 12px; font-family: "宋体"; }
.album_list li .album_title .p2 a i { display: block; float: left; width: 15px; height: 15px; margin-top: 1px; margin-right: 4px; background: url(../images/icon1.png) -90px -2px no-repeat; text-indent: 18px; }
.album_list li .album_title .p2 span em { display: block; float: left; width: 15px; height: 15px; margin-right: 4px; background: url(../images/small_icon.png) -317px -25px no-repeat; text-indent: 18px; }
.nub { position: absolute; bottom: 0px; z-index: 100; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000); width: 224px; height: 32px; background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); color: #ffffff; font-family: "宋体"; font-size: 12px; line-height: 36px; text-align: left; text-indent: 8px; }
#share-qrcode { padding: 0 0 0 15px; }

/*新闻模板*/
.w_1200 { width: 1200px; overflow: hidden; margin: 40px auto 0px auto; }
.coursebox { margin: 20px 0; }
.coursebox li { position: relative; overflow: hidden; margin-top: 20px; padding-bottom: 20px; border-bottom: 1px dotted #ccc; background: #fff; }
.coursebox li > a { width: 224px; height: 126px; float: left; margin-right: 22px; display: block; overflow: hidden; }
.coursebox li a em { display: block; float: left; padding: 0 4px; height: 18px; line-height: 18px; text-align: center; font-size: 12px; color: #fff; border-radius: 4px; position: absolute; margin: 5px; z-index: 2; }
.coursebox li img { width: 224px; height: 126px; display: block; -webkit-transition: all .3s ease-out; -moz-transition: all .5s ease-out; -ms-transition: all .5s ease-out; -o-transition: all .5s ease-out; }
.coursebox li img:hover { width: 234px; height: 136px; float: left; transform: scale(1.1); }
.coursebox .courselist_cont { position: absolute; top: 0; width: 730px; margin-left: 246px; }
.coursebox .courselist_cont h1 { color: #000; font-size: 20px; font-family: "微软雅黑"; font-weight: normal; text-align: left; }
.coursebox li .courselist_cont h1:hover { color: #009bdf; }
.coursebox .courselist_cont h1 i { color: #009bdf; }
.coursebox .courselist_cont span { display: inline-block; margin: 9px 105px 9px 0; color: #999; font-size: 12px; font-family: "宋体"; }
.coursebox .courselist_cont strong { display: block; margin-bottom: 6px; color: #999; font-size: 12px; font-family: "宋体"; }
.coursebox .courselist_cont p { color: #666; font-size: 14px; font-family: "宋体"; line-height: 24px; }
.coursebox .watch { float: right; margin: 18px 20px 0 0; }
.coursebox .watch a { display: block; width: 100px; height: 36px; border-radius: 4px; color: #fff; font-size: 12px; font-family: "宋体"; text-align: center; line-height: 36px; }
.coursebox li .watch p { width: 100px; color: #999; font-size: 12px; font-family: "宋体"; text-align: center; line-height: 30px; }
.coursebox li .watch p i { color: #ff6600; }

/*登录页面*/
.log_body { background: url(../images/login_bg.jpg) no-repeat center center; }
.log_wrap { width: 800px; margin: 0 auto; padding-top: 120px; }
.log_main { clear: both; margin-top: 70px; }
.lm_left { float: left; padding-left: 50px; }
.lm_right { float: left; width: 400px; height: 380px; margin-left: 70px; }
.log_body .login_tog { display: block; position: relative; }
.log_footer { position: absolute; bottom: 20px; left: 0; width: 100%; }
.log_footer p { color: #fff; font-size: 14px; text-align: center; line-height: 30px; }

/*注册页面*/
.reg_body { background: #f1f2f3; }
.reg_header { width: 1000px; height: 80px; margin: 10px auto; }
.reg_header a { overflow: hidden; float: left; }
.reg_header p { float: right; margin-top: 30px; }
.reg_header p a:hover { color: #009bdf; text-decoration: underline; }
.reg_header a img { float: left; width: 125px; height: 50px; margin-top: 14px; }
.reg_header a h3 { float: left; margin-top: 24px; margin-left: 20px; font-size: 20px; }
.content_reg { width: 1000px; margin: 10px auto; padding: 30px 0; border-radius: 2px; background: #fff; box-shadow: 2px 2px 12px rgba(0, 0, 0, .11); }
.content_reg .register_area { position: relative; width: 940px; margin: 30px auto; padding-top: 40px; border-top: solid 1px #ddd; }
.content_reg .register_area h1 { position: absolute; top: -20px; left: 370px; width: 200px; height: 40px; background: #fff; font-size: 24px; text-align: center; line-height: 40px; }
.content_reg .user_information li { width: 100%; height: 54px; margin: 12px 0; color: #666; }
.content_reg .input_title { clear: both; width: 600px; height: 50px; margin: 0 auto; margin-top: 30px; color: #333; font-size: 20px; line-height: 50px; }
.content_reg .reg_left { float: left; width: 320px; height: 54px; text-align: right; line-height: 54px; }
.content_reg .reg_left strong { color: red; }
.content_reg .reg_left span { color: #666; }
.content_reg .reg_right { position: relative; float: left; width: 600px; height: 54px; margin-left: 20px; text-align: left; line-height: 54px; }
.content_reg .reg_right span { position: absolute; top: 6px; margin-left: 10px; padding: 9px; line-height: 20px; color: red; font-size: 12px; }
.content_reg .input_area { float: left; width: 290px; height: 40px; margin-top: 6px; padding-left: 10px; border: solid 1px #ccc; }
.content_reg .input_area:focus { border: solid 1px #009bdf; }
.content_reg .student { margin-right: 6px; }
.content_reg .teacher { margin-right: 6px; margin-left: 20px; }
.content_reg .male { margin-right: 6px; }
.content_reg .female { margin-right: 6px; margin-left: 34px; }
.content_reg .submit { width: 290px; height: 40px; margin: 26px 0 16px 340px; background: #009bdf; color: #fff; font-size: 16px; text-align: center; line-height: 40px; cursor: pointer; }
.content_reg .strait { margin-left: 550px; color: #666; font-size: 14px; }
.content_reg .strait span { font-family: "宋体"; }
.content_reg .strait:hover { text-decoration: underline; }

/*注册成功*/
.tips_wrap { margin-bottom: 120px; }
.success_tips { padding: 30px 0; text-align: center; }
.success_tips img { width: 80px; height: 80px; }
.success_tips p { margin: 30px 0; color: #666; font-size: 16px; }
.success_tips .congra { padding-bottom: 20px; font-size: 22px; }
.success_tips p span { color: #009bdf; }
.success_tips p a { margin: 0 4px; color: #009bdf; text-decoration: underline; }

/*登录弹窗*/
.mask_layer { display: none; position: fixed; left: 0; top: 0; z-index: 999999; opacity: 0.5; filter: alpha(opacity=50); width: 100%; height: 100%; background: #000; }

/*单独的登录页面*/
.login_tog { display: none; position: fixed; left: 50%; top: 50%; z-index: 99999999; width: 400px; height: 380px; margin-top: -190px; margin-left: -200px; background: #fff; box-shadow: 0 0 14px rgba(0, 0, 0, .4) }
.login_tog .login_close { position: absolute; left: 386px; top: -14px; width: 28px; height: 28px; background: url(../images/review_close.png) center center; cursor: pointer; }
.login_tog .login_close:hover { animation: shake .6s linear 1; -webkit-animation: shake .6s linear 1; -moz-animation: shake .6s linear 1; -ms-animation: shake .6s linear 1; -o-animation: shake .6s linear 1; }
@keyframes shake {
    0% { transform: translateX(1px) rotate(1deg); -webkit-transform: translateX(1px) rotate(1deg); -moz-transform: translateX(1px) rotate(1deg); -ms-transform: translateX(1px) rotate(1deg); -o-transform: translateX(1px) rotate(1deg); }
    20% { transform: translateX(-1px) rotate(-1deg); -webkit-transform: translateX(-1px) rotate(-1deg); -moz-transform: translateX(-1px) rotate(-1deg); -ms-transform: translateX(-1px) rotate(-1deg); -o-transform: translateX(-1px) rotate(-1deg); }
    40% { transform: translateX(1px) rotate(1deg); -webkit-transform: translateX(1px) rotate(1deg); -moz-transform: translateX(1px) rotate(1deg); -ms-transform: translateX(1px) rotate(1deg); -o-transform: translateX(1px) rotate(1deg); }
    60% { transform: translateX(-1px) rotate(-1deg); -webkit-transform: translateX(-1px) rotate(-1deg); -moz-transform: translateX(-1px) rotate(-1deg); -ms-transform: translateX(-1px) rotate(-1deg); -o-transform: translateX(-1px) rotate(-1deg); }
    80% { transform: translateX(1px) rotate(1deg); -webkit-transform: translateX(1px) rotate(1deg); -moz-transform: translateX(1px) rotate(1deg); -ms-transform: translateX(1px) rotate(1deg); -o-transform: translateX(1px) rotate(1deg); }
    100% { transform: translateX(-1px) rotate(-1deg); -webkit-transform: translateX(-1px) rotate(-1deg); -moz-transform: translateX(-1px) rotate(-1deg); -ms-transform: translateX(-1px) rotate(-1deg); -o-transform: translateX(-1px) rotate(-1deg); }
}
.login_tog .line2 { width: 100%; height: 2px; background: url(../images/login_tog_line.png); }
.login_area .area_right { position: relative; width: 400px; background: #fff; }
.area_right .right_title { width: 100%; height: 46px; padding-left: 12px; font-size: 16px; line-height: 46px; color: #009bdf; }
.right_content { width: 270px; margin: 0 auto; }
.right_content input { margin-left: 40px; outline: none; border: none; }
.warning { visibility: visible; margin: 8px 0; }
.warning i { display: inline-block; width: 12px; height: 12px; background: url(../images/login-warning.png) center center; vertical-align: middle; }
.warning span { display: inline-block; color: red; font-size: 12px; vertical-align: middle; }
.username, .password, .verificate { width: 270px; height: 40px; margin-bottom: 18px; border: solid 1px #ccc; }
.username { background: url(/www/templet/pc/skin8/images/login_icon.png) 12px 12px no-repeat; }
.username input { width: 220px; height: 38px; }
.password { position: relative; background: url(/www/templet/pc/skin8/images/login_icon.png) 12px -30px no-repeat; }
.password input { width: 220px; height: 38px; }
.cutoff_a { display: inline-block; position: absolute; left: 210px; top: 4px; height: 30px; border-left: solid 1px #ccc; }
.eye { display: inline-block; position: absolute; left: 210px; width: 40px; height: 40px; background: url(/www/templet/pc/skin8/images/login_icon.png) 10px -154px no-repeat; cursor: pointer; }
.verificate { position: relative; background: url(/www/templet/pc/skin8/images/login_icon.png) 12px -73px no-repeat; }
.verificate input { width: 122px; height: 38px; }
.cutoff_b { display: inline-block; position: absolute; top: 4px; left: 190px; height: 30px; border-left: solid 1px #ccc; }
.code { display: inline-block; position: absolute; left: 192px; width: 78px; height: 40px; cursor: pointer; }
.code img { width: 70px; height: 32px; margin-top: 3px; margin-left: 4px; }
.refresh { position: absolute; left: 270px; width: 40px; height: 40px; background: url(/www/templet/pc/skin8/images/login_icon.png) 12px -194px no-repeat; cursor: pointer; }
.remember { width: 100%; height: 12px; margin-bottom: 18px; color: #666; font-size: 12px; line-height: 12px; }
.remember span { margin-left: 4px; vertical-align: middle; }
.remember .checkbox_sel { width: 12px; height: 12px; margin-left: 0px; text-align: center; vertical-align: middle; }
.login_btn { display: inline-block; width: 100%; height: 40px; margin-bottom: 16px; background: #009bdf; color: #fff; font-size: 16px; text-align: center; line-height: 40px; }
.notice { width: 100%; margin-bottom: 16px; color: #666; font-size: 12px; text-align: center; }
.notice .register { color: #666; text-decoration: underline; }
.login_footer { position: absolute; bottom: 0px; left: 0; clear: both; width: 100%; height: 120px; }
.login_footer p { width: 828px; margin: 0 auto; padding: 20px 0px; color: #eee; text-align: center; line-height: 40px; }

/*返回顶部*/
.side_tools { display: block; position: fixed; right: 20px; bottom: 100px; }
.side_tools .side_top { display: none; width: 50px; height: 50px; overflow: hidden; border: solid 1px #fff; background: url(../images/topBtn_bg.jpg) 20px 20px; box-shadow: 0 0 4px #ddd; cursor: pointer; transition: all .4s ease; -webkit-transition: all .4s ease; -moz-transition: all .4s ease; -ms-transition: all .4s ease; -o-transition: all .4s ease; animation: winkle 1.2s infinite; -webkit-animation: winkle 1.2s infinite; -moz-animation: winkle 1.2s infinite; -ms-animation: winkle 1.2s infinite; -o-animation: winkle 1.2s infinite; }
.side_tools .side_wrap { position: relative; width: 100%; }
.side_top:hover { box-shadow: 0 0 12px #cacaca; }
.side_top:hover .top_mask { display: none; }
.side_top:hover .top_tips { display: table-cell; vertical-align: middle; }
.side_tools .top_mask { display: block; width: 48px; height: 48px; background: url(../images/topBtn_mask.png); }
.side_tools .top_tips { display: none; width: 48px; height: 48px; background: #fff; color: #009bdf; font-size: 14px; text-align: center; transition: all .4s ease; -webkit-transition: all .4s ease; -moz-transition: all .4s ease; -ms-transition: all .4s ease; -o-transition: all .4s ease; }
.side_tools .side_qr { display: none; position: fixed; right: 20px; bottom: 164px; width: 50px; height: 50px; border: solid 1px #fff; background: #fff; box-shadow: 0 0 4px #ddd; cursor: pointer; transition: all .4s ease; -webkit-transition: all .4s ease; -moz-transition: all .4s ease; -ms-transition: all .4s ease; -o-transition: all .4s ease; }
.qr_mask { width: 48px; height: 48px; background: url(../images/qrBtn_mask.png); transition: all .4s ease; -webkit-transition: all .4s ease; -moz-transition: all .4s ease; -ms-transition: all .4s ease; -o-transition: all .4s ease; }
.qr_tips { display: none; width: 48px; height: 48px; background: #fff; color: #009bdf; text-align: center; font-size: 14px; transition: all .4s ease; -webkit-transition: all .4s ease; -moz-transition: all .4s ease; -ms-transition: all .4s ease; -o-transition: all .4s ease; }
.side_qr:hover { box-shadow: 0 0 12px #cacaca; }
.side_qr:hover .qr_toggle { opacity: 1; filter: alpha(opacity=100); transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); }
.side_qr:hover .qr_mask { display: none; }
.side_qr:hover .qr_tips { display: table-cell; vertical-align: middle; }
.qr_toggle { position: absolute; top: 0; right: 60px; opacity: 0; filter: alpha(opacity=0); padding: 10px; background: #fff; text-align: center; box-shadow: 0 0 4px #ddd; transform-origin: top right; -webkit-transform-origin: top right; -moz-transform-origin: top right; -o-transform-origin: top right; -ms-transform-origin: top right; -webkit-transform-origin: top right; -moz-transform-origin: top right; -o-transform-origin: top right; -ms-transform-origin: top right; transform: scale(0.01); -webkit-transform: scale(0.01); -moz-transform: scale(0.01); -o-transform: scale(0.01); -ms-transform: scale(0.01); transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -o-transition: all .3s ease; -ms-transition: all .3s ease; }
.qr_toggle img { width: 140px; height: 140px; }
@keyframes winkle {
    0% { background-position: 70px 0 }
    ;
    50% { background-position: 35px 0 }
    ;
    100% { background-position: 20px 20px; }
}

/*====================下载==========================*/
.page_down { width: 1200px; margin: 180px auto 0 auto; }
.down_sid { border: 1px solid #ccc; margin: 20px 0; position: relative; height: 90px; }
.down_sid img { float: left; margin: 0 10px 10px 10px; }
.down_sid dd { margin-left: 10px; margin-top: 10px; }
.down_sid dd h2 { margin-top: 10px; font-size: 18px; color: #222; font-weight: normal; }
.page_but { position: absolute; top: 30px; right: 20px; }
.page_but a { padding: 10px 30px; background: #09f; color: #fff; }
.page_but a:hover { background: #09f; }

/*下拉页头*/
.search-sel { min-width: 56px; overflow: hidden; float: left; text-align: center; height: 46px; }
.more-search { position: absolute; float: left; z-index: 999; opacity: 0; filter: alpha(opacity=0); margin: 46px 0 0 -24px; padding: 8px 0; background: #fff; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18); transform-origin: top center; -webkit-transform-origin: top center; -moz-transform-origin: top center; -ms-transform-origin: top center; -o-transform-origin: top center; transform: scale(0.01); -webkit-transform: scale(0.01); -moz-transform: scale(0.01); -ms-transform: scale(0.01); -o-transform: scale(0.01); transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; }
.more-search:after { content: ""; position: absolute; left: 54px; top: -10px; width: 12px; height: 12px; background: url(../images/panel_aroow.png) no-repeat 0 2px; }
.more-search li { min-width: 100px; text-align: center; line-height: 28px; }
.search-sel:hover .search_img { opacity: 1; }
.search-sel:hover .more-search { opacity: 1; filter: alpha(opacity=100); transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); }
.search_class { font-size: 12px; float: left; color: #333; cursor: pointer; }
.search_img { width: 10px; float: left; height: 8px; opacity: 0.5; margin: 14px 0px 0 10px; background: url(../images/login.png) 0 0px no-repeat; }