@charset "gb2312";
html,body,h1,h2,h3,h4,h5,h6,p,blockquote,ul,li,input,dl,dt,dd{margin:0;padding:0;}
ul,li{list-style:none outside;}
label,input,select,img{vertical-align:middle;background:none;border:none;outline:none;margin:0;padding:0;}
input:focus{border:none;outline:none;}
a{text-decoration:none;}
cite,code,i,em{font-style:normal;}
html,body{font-size:12px;font-family:"Microsoft YaHei","΢���ź�","SimSun","����","Arial";}
img{vertical-align:bottom;border:none;}

a{outline:none;}
a,a:link,a:visited{color:#333;text-decoration:none;}
a:hover,a:active{color:#c00;text-decoration:underline;}

.clearfix{zoom:1;}
.clearfix:after{display:block;content:'.';clear:both;height:0;font-size:0;line-height:0;overflow:hidden;}

.wrap{position:relative;width:1000px;margin:0 auto;}

/*��׼��������_���� begin*/
.secondaryHeader{width:100%;min-width:1000px;height:39px;border-bottom:1px solid #e5e5e5;overflow:hidden;color:#000;font-size:12px;font-weight:100;}
.sHBorder{width:1000px;height:39px;margin:0 auto}
.sHLogo{float:left;height:39px;}
.sHLogo a{display:block;margin:6px 0 0 10px;}
.sHLogo a img{vertical-align:top;}
.sHLogo a:hover,.sHLogo a:active{text-decoration:none;}
.sHLinks{float:right;font-family:"Microsoft YaHei","΢���ź�","SimSun","����","Arial Narrow";}
.sHLinks span{float:left;padding-top:13px;}
.sHLinks a{display:inline-block;height:13px;line-height:13px;_line-height:15px;padding:0 8px;border-right:2px solid #b3b3b3;text-decoration:none;}
.sHLinks a.last{border-right:none;}
.sHLinks a:hover,.sHLinks a:active{color:#333;text-decoration:underline;}
/*��׼��������_���� end*/

/*������� begin*/
.blog_ad{margin-top:30px;}
/*������� end*/

/*ͼƬ�ֲ����� begin*/
.slide_wrap{position:relative;overflow:hidden;zoom:1;margin-top:20px;border-bottom:1px solid #999;}
.slides{overflow:hidden;zoom:1;width:1000px;height:560px;}
.slide_item{float:left;width:1000px;height:560px;}
.slide_item a{display:block;}
.slide_item a img{display:block;width:1000px;height:500px;}
.slide_item a.item_title{overflow:hidden;height:60px;line-height:60px;font-size:24px;}
.slide_item a.item_title span{color:#999;}
.slide_item a.item_title:hover,.slide_item a.item_title:active{color:#333;text-decoration:underline;}
.slide_item a.item_title:hover span,.slide_item a.item_title:active span{color:#999;text-decoration:underline;}
.slide_dots{overflow:hidden;zoom:1;position:absolute;right:-10px;bottom:0;padding:21px 0 21px 10px;background:#fff;}
.slide_dots span{cursor:pointer;float:left;width:16px;height:17px;margin-right:10px;background:url(../images/icons.png) no-repeat -18px -57px;font-size:0;}
.slide_dots span.selected{background-position:0 -57px;}
.slide_prev,.slide_next{position:absolute;top:222px;width:54px;height:55px;background:url(../images/icons.png) no-repeat;_background:url(../images/arrs.png) no-repeat;_filter:alpha(opacity=40);}
.slide_prev{left:10px;background-position:0 0;}
.slide_next{right:10px;background-position:-56px 0;}
.slide_prev:hover{background-position:-112px 0;_background-position:0 0;_filter:alpha(opacity=70);}
.slide_next:hover{background-position:-168px 0;_background-position:0 0;_filter:alpha(opacity=70);}
/*ͼƬ�ֲ����� end*/

/*ͼƬ �� ��Ӱʦ�������� begin*/
.blk_pics{width:1025px;margin-right:-25px;*padding-bottom:25px;_padding-bottom:0;overflow:hidden;}
.mrg_t_50{margin-top:50px;}
.blk_pic{float:left;width:180px;height:180px;margin:0 25px 25px 0;}
.blk_pic a{position:relative;display:block;width:180px;height:180px;}
.blk_pic a p{cursor:pointer;position:absolute;left:0;bottom:0;width:165px;height:30px;padding:0 5px 0 10px;line-height:30px;background:rgba(0,0,0,0.4);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3c000000',endColorstr='#3c000000')\9;text-align:center;font-size:16px;color:#fff;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.blk_pic a:hover p,.blk_pic a:active p{color:#fff;text-decoration:underline;}
/*ͼƬ �� ��Ӱʦ�������� end*/

.pic_tabs{overflow:hidden;zoom:1;margin-top:25px;border-top:3px solid #af9d81;background:#fff;}
.pic_tabs a{float:left;width:111px;height:36px;padding:10px 0 2px;border-bottom:1px solid #dfdfdf;text-align:center;font-size:18px;}
.pic_tabs a.first{width:112px;}
.pic_tabs a:hover,.pic_tabs a.tab_on{padding-bottom:0;border-bottom:3px solid #af9d81;color:#98876c;text-decoration:none;font-weight:bold;}
.pic_tabs_fixed{z-index:100;position:fixed;top:0;_position:absolute;_top:expression(eval(document.documentElement.scrollTop)-40);left:50%;width:1000px;margin:0 0 0 -500px;box-shadow:2px 1px 1px rgba(0,0,0,0.1),-2px 1px 1px rgba(0,0,0,0.1)}
.pic_tabs_fixed_pad{margin-left:0;left:0;}

.pic_cont{position:relative;margin-top:50px;}
.pic_cont h2,.pic_cont .pic_cont_title{font-size:27px;font-weight:bold;color:#333;}
.pic_wrap{width:999px;height:431px;margin:16px 0 0 0;padding-left:7px;border-left:1px solid #999;}
.pic_inner_wrap{overflow:hidden;zoom:1;width:993px;height:431px;margin-right:-1px;}
.pic_sec{float:left;width:993px;}
.pic_sec li{float:left;width:330px;margin:0 1px 29px 0;}
.pic_sec li a{display:block;width:330px;height:201px;}
.pic{width:330px;height:165px;}
.pic img{width:330px;height:165px;}
.pic_title{display:block;width:310px;height:18px;padding:0 10px;margin-top:18px;line-height:18px;color:#333;font-size:16px;font-weight:bold;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;text-align:center;}
.pic_title span{color:#999;}
.pic_sec li a:hover,.pic_sec li a:active{text-decoration:none;}
.pic_sec a:hover .pic_title,.pic_sec a:active .pic_title,.pic_sec a:hover .pic_title span,.pic_sec a:active .pic_title span{color:#af9d81;text-decoration:underline;}
.pic_more,.pic_more:link,.pic_more:visited{position:absolute;right:0;top:7px;width:70px;height:24px;line-height:24px;border-radius:2px;background:#af9d81;font-size:14px;font-weight:bold;color:#fff;text-align:center;}
.pic_more:hover,.pic_more:active{background:#98876c;color:#fff;text-decoration:none;}
.change_btn{position:absolute;top:222px;right:-74px;width:54px;height:55px;background:url(../images/icons.png) no-repeat 0 -79px;}
.change_btn:hover{background-position:-56px -79px;}

.mrg_t_30{margin-top:30px;}
.blog_pics{position:relative;margin-top:50px;padding-bottom:30px;*padding-bottom:55px;_padding-bottom:30px;}
.blog_pics h2{font-size:27px;font-weight:bold;color:#333;}

/* footer */
.footer{padding:20px 0;line-height:28px;margin:2em 0;border-top:2px solid #af9d81;text-align:center; }